.sidenav {
  float: left;
  text-align: left;
  padding-right: 8px;
  }
ul {
  list-style-type: none;
  }

.five{
  font-size: 25px;
  }

.article1 {
  float:left;
}
.article2 {
  float:right;
  }


.panel-heading.six {
    background-image: none;
    background-color: #ddcef2;
    color: #faf5ff;

}
